extends layout

block content
  div.main
    div.row
      a.w(href='/article/new') Add An Article
      if articles
        each art in articles
          div.new
            h2.pad
              a.n(href='/article/'+ art._id)= art.title
            img(src= art.url)
            p.pad= art.excerpt
          
