extends layout

block content
  div.main
    div.row
      a(href='/article/new') Add An Article
      if articles
        each art in articles
          div.new
            h2
              a(href='/article/'+ art._id)= art.title
            p= art.excerpt
          
