extends layout

block content
  div.main
    div.row
      a.w(href='/article/new') Add An Article
      if articles
        each art in articles
          div.new
            h2(style='background-image: url(#{art.url})')
              if(art.checked === 'on') 
                a#n.pad(href='/article/'+ art._id style= 'color: white')= art.title
              else   
                a#n.pad(href='/article/'+ art._id style= 'color: black')= art.title

            p.pad= art.excerpt
          
