extends ../layout
block content
  div.main
    div.new.pad
      h1.title New Article
      if errors
        p Please fix the following
        each err in errors
          p.err= err
      form(action='/article/new' method='post')
        label Title
        p
          input(type='text' name='title') 
        label Background URL 
        p
          input(type='url' name='url')
        
        label.back Background image has dark colors
        p
        
          input#check(type='checkbox' name='checkbox')
        label Excerpt
        p
          textarea(name='excerpt' cols='30' rows='5')
        label Body  
        p
          textarea( name='body' cols='30' rows='5')
        input.button(type='submit' value='Add Article')
      
