body {
  background-image: url(/images/CRUD-background.png);
}

.main {
  width: 1200px;
  margin: 0 auto;
}
.err {
  color: red;
}
.header {
  width: 100%;
  height: 200px;
  background-image: url(https://unsplash.imgix.net/photo-1429198739803-7db875882052?dpr=2&fit=crop&fm=jpg&h=1575&q=75&w=1050);
}
.header h1 {
  font-size: 50px;
  padding-right: 15px;
  padding-top: 100px;
  text-align: right;
  position: relative;
  /*position: absolute;*/
}
.row {
  width: 100%;
}
label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 200px;
  font-size: 20px;
}

input {
  width: 800px;
  height: 20px;
}
.delete {
  width: 10%;
}
.button{
  width: 150px;
  height: 30px;
  text-align: center;
}
textarea {
  width: 800px;
  height: 200px;
}
.new {
  background-color: white;
  /*padding-left: 15px;*/
  padding-right: 15px;
  margin-top: 20px;
}
.pad {
  padding-left: 15px;
}

.title{
  text-decoration: underline;
}
.back {
  position: absolute;
  /*padding-left: 625px;*/
  float: right;
  display: block;
  width: 300px;
}
#check {
  display: inline;
  /*float: left;*/
  /*margin-right:   80px;*/
}
img {
  position: absolute;
  height: 40px;
  width: 1200px;
  /*opacity: 0.5;*/
  padding: none;
}
/*h2 {
  background-image: url(art.url);
}*/
a {
  text-decoration: none;
}
